@font-face {
    font-family: Font1;
    src: url("Fonts/Rushfordclean-rgz89.otf");
}
@font-face {
    font-family: Font2;
    src: url("Fonts/DIN\ Condensed\ Bold.ttf");
}
@font-face {
    font-family: Font3;
    src: url("Fonts/Arial\ Black.ttf");
}

body{
    background-color: #474343;
}
h1{
    font-family: Font1;
    font-weight: lighter;
    text-align: center;
    font-size: 18vh;
    color: #df7474;
    margin: auto auto -12vh;
}
p{
    font-family: Font1;
    font-weight: light;
    text-align: center;
    font-size: 9vh;
    color: white;
}
#MainPicture{
    display: flex;
    margin: auto 40% -10%
}
.Tabs{
    cursor: pointer;
    justify-content: left;
    color: white;
    font-family: Font2;
    font-size: 13vh;
    margin: 3vh 0 -11vh;
}
#tab{
    padding: 30px 25px;
    border-radius: 100px;
}
#tab:hover{
    color:white;
    background-color:#df7474;
}
a:link{
    text-decoration: none;
    color: white;
}
a:visited{
    color:white;
    text-decoration: none;
    
}
.Media{
    color: white;
    font-family: Font2;
    font-size: 4vh;
    text-align: right;
}
.Socials{
    cursor: pointer;
    height: 8vh;
    width: 8vh;
}
#Bio{
    font-size: 3.2vh;
    color: white;
    font-family: Font2;
    text-align: left;
}